<div class="container-fluid">
  <div class="row mt-3">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row w-25">
        <mat-form-field class="w-100">
          <mat-label>Name</mat-label>
          <input type="text" name="name" matInput formControlName="name">
          <!-- <mat-error *ngIf="userForm.get('name')?.errors?.['pkIncluded']">Pk is not allowed</mat-error> -->
        </mat-form-field>
      </div>
      <div class="row w-25">
        <mat-form-field class="w-100">
          <mat-label>Job</mat-label>
          <input type="text" name="job" matInput formControlName="job">
        </mat-form-field>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="mt-5">
    <mat-list *ngFor="let user of userList">
      <mat-list-item>ID: {{ user.id }}</mat-list-item>
      <mat-list-item>Email: {{ user.email }}</mat-list-item>
      <mat-list-item>First Name: {{ user.first_name }}</mat-list-item>
      <mat-list-item>Last Name: {{ user.last_name }}</mat-list-item>
      <mat-list-item>
        Avatar: <img src="{{ user.avatar }}" alt="User Avatar" />
      </mat-list-item>
    </mat-list>
  </div>


</div>