 .root {
   font-family: Arial, sans-serif;
   background: rgb(63, 94, 251);
   background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
   background: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
   background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
 }

 form {
   max-width: 500px;
   margin: 10px auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 h2 {
   color: #333;
   font-size: 24px;
   text-align: center;
   margin-bottom: 10px;
 }

 .container-fluid {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(102, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 55%);
   height: 91svh;
 }

 .small {
   font-size: 10px;
 }

 textarea {
   resize: none;
 }

 .hint {
   color: plum;
 }