<div class="container-fluid">

  <h2>Contact Us</h2>
  <div class="contact-form">
    <form>
      <div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput name="message" required></textarea>
        </mat-form-field>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Send Message</button>
      </div>
    </form>
  </div>
</div>