<div class="container-fluid">
  <mat-card>
    <mat-toolbar class="d-flex search-bar bg-primary text-white">
      <form>
        <mat-form-field>
          <input matInput type="text" placeholder="Search">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
              {{ location }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="location-icon" (click)="detectLocation()">my_location</mat-icon>
          <mat-icon class="search-icon" (click)="searchLocation()">search</mat-icon>
        </mat-form-field>
      </form>
      <span class="location p-2">Location</span>
    </mat-toolbar>
  </mat-card>
  <div class="row mt-3">
    <div class="col-md-3 col-sm-6">
      <mat-card class="zoom-card mb-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/draw2.webp" alt="weather experience">
          <div class="card-body bg-success bg-dark bg-gradient text-white">
            <h5 class="card-title">
              Juneau, Alaska, US
            </h5>
            <p class="display-2 my-3">1.28°C</p>
            <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
            <h5>Snowy</h5>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="zoom-card mb-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/draw1.webp" alt="weather experience">
          <div class="card-body">
            <h5 class="card-title">
              Juneau, Alaska, US
            </h5>
            <p class="display-2 my-3">1.28°C</p>
            <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
            <h5>Snowy</h5>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="zoom-card mb-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/draw2.webp" alt="weather experience">
          <div class="card-body">
            <h5 class="card-title">
              Juneau, Alaska, US
            </h5>
            <p class="display-2 my-3">1.28°C</p>
            <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
            <h5>Snowy</h5>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <mat-card class="zoom-card mb-2">
        <div class="card">
          <img class="card-img-top" src="../../assets/draw1.webp" alt="weather experience">
          <div class="card-body">
            <h5 class="card-title">
              Juneau, Alaska, US
            </h5>
            <p class="display-2 my-3">1.28°C</p>
            <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
            <h5>Snowy</h5>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>