.container-fluid {
  height: 91vh;
  width: 100vw;
  background: url(../../assets/draw1.webp);
}

.serach-bar {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.col-3>mat-card {
  background-color: #f5f6f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  max-height: 140px;
}

.zoom-card {
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.zoom-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (max-width: 768px) {
  .zoom-card {
    transition: none;
    transform: none;
    box-shadow: none;
    cursor: auto;
  }
}

.exp-img {
  width: 90px;
  height: 90px;
}

@media (min-width:768px) {
  .height-lock {
    height: 75vh;
  }
}

.bg-card {
  background-color: transparent;
  color: grey;
}

mdc-header-cell {
  padding-left: 0 !important;
  padding-right: 5px !important;
  overflow-wrap: break-word;
  font-weight: bold;
}

mdc-cell,
mdc-header-cell {
  flex: 1 1 100%;
  text-align: center;
}

mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 10px !important;
}

mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 10px !important;
}

.mat-column-forCastDate,
.mat-column-sunRiseSet,
.mat-column-avgHumidity,
.mat-column-dailyChanceOfRain,
.mat-column-maxTemp,
.mat-column-minTemp {
  overflow-wrap: break-word !important;
  white-space: unset !important;
}

.mat-column-forCastDate {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14%;
}

.mat-column-sunRiseSet {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18%;
}

.mat-column-avgHumidity {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12%;
}

.mat-column-dailyChanceOfRain {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25%;
}

.mat-column-maxTemp {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15%;
}

.mat-column-minTemp {
  overflow-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15%;
}


@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}