<div class="container-fluid">
  <mat-card>
    <mat-toolbar class="d-flex search-bar bg-primary text-white">
      <form>
        <mat-form-field>
          <input #textEntered matInput type="text" [matAutocomplete]="auto" aria-label="locations" matInput
            placeholder="Search" [formControl]="LocationControl" (input)="getLocations()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let location of locations" (click)="assignValue(location)">
              {{location.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <span class="location p-2">Location</span>
    </mat-toolbar>
  </mat-card>
  <div class="row mt-3">
    <!-- //basic info component -->
    <div class="col-md-2 col-sm-12">
      <mat-card class="zoom-card mb-2">
        <div class="card height-lock">
          <img class="card-img-top" [src]="weatherIcon" (error)="setDefaultImage()" alt="weather experience">
          <div class="card-body bg-success bg-dark bg-gradient text-white">
            <h5 class="card-title">
              {{locationName}}
            </h5>
            <p class="display-4 my-3">{{temperatureCelcius}}°C</p>
            <p class="mb-2">Feels Like: <strong>{{feelsLikeCelcius}} °C</strong></p>
            <p class="mb-2">UV Index: <strong>{{uvIndex}}</strong></p>
            <h5>{{condition}}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated at {{lastUpdated}} time of {{country}}</small>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- Detailed info Component -->
    <div class="col-md-6 col-sm-12">
      <mat-card class="zoom-card mb-2">
        <div class="card height-lock">

          <div class="card-body bg-card">
            <div class="row">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="card-title">
                    City: {{locationName}}
                  </h4>

                  <h4>
                    Position: Longitude: {{longitude}} - Latitude: {{latitude}}
                  </h4>

                </div>
                <div>
                  <p class="display-4 my-3"><strong>{{temperatureCelcius}}°C</strong></p>
                  <p class="mb-2">Feels Like: <strong>{{feelsLikeCelcius}} °C / {{feelsLikeFarenhite}} °F</strong></p>
                  <p class="mb-2">UV Index: <strong>{{uvIndex}}</strong></p>
                </div>
                <div>
                  <div class="col-md-2">
                    <img class="card-img-top exp-img" [src]="weatherIcon" (error)="setDefaultImage()"
                      alt="weather experience">
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
              <div class="col-md-6 d-flex">
                <div class="col-md-6">
                  <h4>Weather Condition: </h4>
                </div>
                <div class="col-md-6">
                  <h4>{{condition}}</h4>
                </div>
              </div>
              <div class="col-md-6">
                <h4>Wind Speed:{{windspeedkph}}Kph / {{windspeedmiles}}mph</h4>
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-md-6">
                <h4>Humidity:{{humidity}}</h4>
              </div>
              <div class="col-md-6">
                <h4>Wind Direction:{{windDirection}}</h4>
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-md-6">
                <h4>Visibility:{{visibiltyInKiloMeters}}Km / {{visibiltyInMiles}}miles</h4>
              </div>
              <div class="col-md-6">
                <h4>Date:{{localtime|date}}</h4>
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-md-6">
                <h4>Pressure:{{pressureInMilliBar}} millibar</h4>
              </div>
              <div class="col-md-6">
                <h4>Localtime:{{localtime|date:'shortTime'}}</h4>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <small class="text-muted">Last updated at {{lastUpdated}} time of {{country}}</small>
          </div>

        </div>
      </mat-card>

    </div>
  </div>

</div>